#card-title , #price {
  text-align: center;
}

#price {
  margin-bottom: none !important;
}

.columns #card-column{
  border-width: .25px;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
}

#card-column:hover {
  border-style: dotted;
  
}

.dropdown {
  visibility: hidden;
  text-align: center;
  margin-left: 32%;
  margin-bottom: 2px;
}

#card-column:hover .dropdown{
  visibility: visible;
}

#card-column:hover .desc{
  visibility: visible;
}

.desc {
  font-size: 7pt;
  text-align: center;
  visibility: hidden;
  margin-bottom: 2px;
}




